@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Estilos específicos para el navbar */
.nav {
  @apply flex justify-between items-center
  w-full
  h-24 px-4 
  text-white 
  bg-stone-700
  bg-opacity-60
  backdrop-blur-md
  backdrop-opacity-95
  fixed
  min-[320px]:text-center max-[600px]:h-12
}

@layer components {
  .hero {
    @apply relative flex place-items-center
    before:absolute 
    before:lg:h-[360px] z-[-1]
  }

  .hero__section {
    @apply relative h-[90vh] flex place-items-center
    before:absolute 
    before:lg:h-[360px] z-[-1]
  }
  
  .hero__video {
    @apply w-full h-full object-cover;
    -o-object-fit: cover;
  }
  
  .hero__bg {
    @apply relative w-full h-full;
  }

  .btn-primary {
    @apply mt-6 py-2 px-4
    bg-blue-500
    text-white font-semibold
    rounded-lg
    shadow-md
    hover:bg-blue-700
    focus:outline-none
    focus:ring-2
    focus:ring-blue-400
    focus:ring-opacity-75
  }

  .btn-solid-secondary {
    @apply
    mt-6 py-2 px-4
    bg-blue-500
    text-white border uppercase
    px-[2.1875rem]
    py-1
    rounded-[1.1625rem]
    border-solid
    hover:bg-blue-700
    border-transparent;
  }
  
}